In [37]:
import pandas as pd
import matplotlib.pyplot as plt

Datasets Overview

In [38]:
allEnergy = pd.read_excel('Production of electricity.xlsx')
gas = pd.read_excel('Natural gas production volume (stat kg).xlsx')
coal = pd.read_excel('Volume of coal and lignite production (stat kg).xlsx')
energyUse = pd.read_excel('Energy use in Kyrgyz Republic(WBOD).xlsx')

print(allEnergy)
print(gas.head())
print(coal.head())
print(energyUse.head())

    Көрсөткүчтөрдүн аталыштары    Наименование показателей  \
0    Өндүрүлгөн электроэнергия  Произведено электроэнергии
1      Гидро электростанциялар         Гидроэлектростанции
2  Жылуулук электростанциялар      Тепловые электростанции

                             Items   1992   1993   1994   1995   1996   1997  \
0  The electric power are produced  11980  11273  12932  12349  13758  12637
1     Hydroelectric power stations   9288   9085  11724  11118  12255  10934
2    Thermoelectric power stations   2692   2188   1208   1231   1503   1703

    1998  ...     2004     2005     2006     2007     2008     2009     2010  \
0  11618  ...  15141.0  14891.2  14523.2  14830.4  11789.1  11083.2  12062.7
1   9943  ...  14094.3  13980.4  13652.5  14004.1  10759.1  10098.0  11254.6
2   1675  ...   1046.7    910.8    870.7    826.3   1030.0    985.2    808.1

      2011     2012     2013
0  15158.0  15168.3  14011.4
1  14309.1  14179.0  13096.7
2    848.9    989.3    914.7

[3 rows x 25 columns]
  Көрсөткүчтөрдүн аталыштары Наименование показателей              Items  \
0        Кыргыз Республикасы    Кыргызская Республика    Kyrgyz Republic
1          Жалал-Абад облусу  Джалал-Абадская область  Jalal-Abat oblast

   2006  2007  2008  2009  2010  2011  2012  ...  2015  2016  2017  2018  \
0  19.4    15  17.4  15.4  22.8  26.6  28.5  ...  31.6  28.9    26  27.3
1  19.4    15  17.4  15.4  22.8  26.6  28.5  ...  31.6  28.9    26  27.3

   2019  2020  2021  2022  2023  2024 1
0  24.4  22.4  22.2  29.9  27.4    28.2
1  24.4  22.4  22.2  29.9  27.4    28.2

[2 rows x 22 columns]
  Көрсөткүчтөрдүн аталыштары Наименование показателей              Items  \
0        Кыргыз Республикасы    Кыргызская Республика    Kyrgyz Republic
1              Баткен облусу       Баткенская область      Batken oblast
2          Жалал-Абад облусу  Джалал-Абадская область  Jalal-Abat oblast
3            Ысык-Көл облусу   Иссык-Кульская область   Yssyk-Kul oblast
4               Нарын облусу        Нарынская область       Naryn oblast

    2006   2007   2008   2009   2010   2011    2012  ...    2015    2016  \
0  321.3  395.6  491.8  606.9    575  830.7  1163.9  ...  1928.7  1851.3
1  139.4  132.6  157.1  148.9  156.5    179   190.4  ...     249     294
2   23.3   26.5   46.5   51.1   49.5   53.4    88.5  ...   159.8   146.9
3   22.2   10.7    8.6    8.9    4.2    9.1    13.1  ...     3.4     3.8
4  105.1  135.9  144.6  212.6  183.4  335.6   379.8  ...   753.2   820.9

     2017    2018       2019    2020    2021    2022    2023  2024 1
0  1870.4  2395.2  2605.9942  2677.7  3062.5  3775.4  4177.4  4396.3
1   222.1   378.7   422.5538   475.6   654.9   774.9   954.4  1033.6
2   130.4   155.6   120.4374   300.9   264.5   191.7   404.8   315.1
3       -       -          -       -       -       -     9.3     5.3
4   867.6  1087.7  1252.1989    1366    1268  1831.8  1807.3  2252.9

[5 rows x 22 columns]
                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                                 Indicator Name     Indicator Code  \
0  Energy use (kg of oil equivalent per capita)  EG.USE.PCAP.KG.OE
1  Energy use (kg of oil equivalent per capita)  EG.USE.PCAP.KG.OE
2  Energy use (kg of oil equivalent per capita)  EG.USE.PCAP.KG.OE
3  Energy use (kg of oil equivalent per capita)  EG.USE.PCAP.KG.OE
4  Energy use (kg of oil equivalent per capita)  EG.USE.PCAP.KG.OE

         2006        2007        2008        2009        2010        2011  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1  627.567678  637.375567  655.822832  657.083577  625.014805  632.967747
2         NaN         NaN         NaN         NaN         NaN         NaN
3  302.907262  300.302468  306.796574  295.423286  336.412979  359.064393
4  422.909459  446.790006  472.064397  504.924167  487.281074  486.235366

   ...        2015        2016        2017        2018        2019  \
0  ...         NaN         NaN         NaN         NaN         NaN
1  ...  607.144577  605.778276  596.300319  583.763039  586.441491
2  ...         NaN         NaN         NaN         NaN         NaN
3  ...  336.978668  343.896338  332.429748  325.467827  341.666133
4  ...  517.525209  462.934994  456.692217  405.179753  416.996507

         2020        2021        2022  2023  2024
0         NaN         NaN         NaN   NaN   NaN
1  563.976201  570.998888  565.488909   NaN   NaN
2         NaN         NaN         NaN   NaN   NaN
3  336.566407  350.102510  351.913062   NaN   NaN
4  397.633187  418.358996  423.122518   NaN   NaN

[5 rows x 23 columns]

Cleaning dataset 'Production of electricity' 
measures are in million kilowatt-hours

In [39]:
allEnergy = allEnergy.drop(columns=['Көрсөткүчтөрдүн аталыштары', 'Наименование показателей', 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999])
allEnergy = allEnergy.rename(columns={'Items': 'Year'})

print(allEnergy.head())

                              Year   2000   2001   2002   2003     2004  \
0  The electric power are produced  14931  13667  11922  14021  15141.0
1     Hydroelectric power stations  13682  12430  10787  13004  14094.3
2    Thermoelectric power stations   1249   1237   1135   1017   1046.7

      2005     2006     2007     2008     2009     2010     2011     2012  \
0  14891.2  14523.2  14830.4  11789.1  11083.2  12062.7  15158.0  15168.3
1  13980.4  13652.5  14004.1  10759.1  10098.0  11254.6  14309.1  14179.0
2    910.8    870.7    826.3   1030.0    985.2    808.1    848.9    989.3

      2013
0  14011.4
1  13096.7
2    914.7

Cleaning dataset "Natural gas production"
measures are in million m3

In [40]:
gas = gas.dropna()

#delete columns in russian and kyrgyz language
gas = gas.drop(columns=['Көрсөткүчтөрдүн аталыштары', 'Наименование показателей', 2006, 2007, 2008, 2009, 2010])
gas = gas.rename(columns={'Items': 'Year'})

print(gas.head())

                Year  2011  2012  2013  2014  2015  2016  2017  2018  2019  \
0    Kyrgyz Republic  26.6  28.5  32.5  32.5  31.6  28.9    26  27.3  24.4
1  Jalal-Abat oblast  26.6  28.5  32.5  32.5  31.6  28.9    26  27.3  24.4

   2020  2021  2022  2023  2024 1
0  22.4  22.2  29.9  27.4    28.2
1  22.4  22.2  29.9  27.4    28.2

Cleaning dataset 'Volume of coal and lignite production'
measures are in thousand tons

In [41]:
coal = coal.dropna()

#delete columns in russian and kyrgyz language
coal = coal.drop(columns=['Көрсөткүчтөрдүн аталыштары', 'Наименование показателей', 2006, 2007, 2008, 2009, 2010])
coal = coal.rename(columns={'Items': 'Year'})
coal = coal.replace('-', 0)

print(coal.head())

                Year   2011    2012    2013    2014    2015    2016    2017  \
0    Kyrgyz Republic  830.7  1163.9  1406.8  1812.0  1928.7  1851.3  1870.4
1      Batken oblast  179.0   190.4   213.8   203.6   249.0   294.0   222.1
2  Jalal-Abat oblast   53.4    88.5   153.5   231.0   159.8   146.9   130.4
3   Yssyk-Kul oblast    9.1    13.1     0.9     1.0     3.4     3.8     0.0
4       Naryn oblast  335.6   379.8   413.1   678.3   753.2   820.9   867.6

     2018       2019    2020    2021    2022    2023  2024 1
0  2395.2  2605.9942  2677.7  3062.5  3775.4  4177.4  4396.3
1   378.7   422.5538   475.6   654.9   774.9   954.4  1033.6
2   155.6   120.4374   300.9   264.5   191.7   404.8   315.1
3     0.0     0.0000     0.0     0.0     0.0     9.3     5.3
4  1087.7  1252.1989  1366.0  1268.0  1831.8  1807.3  2252.9

C:\Users\User\AppData\Local\Temp\ipykernel_13996\175834320.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  coal = coal.replace('-', 0)

Cleaning dataset 'Energy use'

In [42]:
energyUse = energyUse.drop(columns=['Indicator Code', 'Country Code', '2006', '2007', '2008', '2009', '2010'])
energyUse = energyUse[energyUse['Country Name']=='Kyrgyz Republic']
energyUse.fillna(energyUse.mean(numeric_only=True), inplace=True)
energyUse = energyUse.round(1)

print(energyUse.head())

        Country Name                                Indicator Name   2011  \
122  Kyrgyz Republic  Energy use (kg of oil equivalent per capita)  596.8

      2012   2013   2014   2015   2016   2017   2018   2019   2020   2021  \
122  731.4  674.5  691.5  659.1  624.4  609.7  707.1  609.9  562.3  595.8

      2022  2023  2024
122  645.0   NaN   NaN